<div class="single_product">
  <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
        <div class="row">
            <div class="col-lg-4 order-lg-2 order-1">
                <div class="image_selected"><img src="{{selectedProduct?.imagePath}}" alt=""></div>
            </div>
            <div class="col-lg-6 order-3">
                <div class="product_description">
                    <div class="product_name">{{selectedProduct?.name}}</div>
                    <div> <span class="product_price">{{selectedProduct?.price}} Ft</span></div>
                    <hr class="singleline">
                    <div> <span class="product_info">{{selectedProduct?.description}}</span><br>
                      <span class="product_info">7 napos visszatérítési garancia</span><br>
                        <span class="product_info">Raktáron: 25 eladott darab a héten</span>
                    </div>
                    <hr class="singleline">
                    <div class="row">
                        <div class="col-xs-6" style="margin-left: 13px;">
                            <div class="product_quantity"> <span>QTY: </span> <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                                <div class="quantity_buttons">
                                    <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                                    <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 mr-2"> <button type="button" class="btn btn-primary shop-button" (click)="addToCart(selectedProduct)">Kosárba</button>
                          <button type="button" class="btn btn-success shop-button" disabled="true">Vásárlás</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row row-underline"></div>
  </div>
</div>