<body id="body-pd" style="width: 80%; margin: auto;">
<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div class="nav_list">
        <a [routerLink]="[{ outlets: { adminpage: ['users'] }}]" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Felhasználók</span> </a>
        <a [routerLink]="[{ outlets: { adminpage: ['product-edit'] }}]" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Termékek szerkesztése</span> </a>
        <a [routerLink]="[{ outlets: { adminpage: ['product-create'] }}]" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Termék létrehozása</span> </a>
      </div>
    </nav>
</div>
<div class="height-100 bg-light float-left">
    <router-outlet name="adminpage"></router-outlet>
</div>