    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" class="searchField" width="60%" #inputValue>
    </mat-form-field>
    <button mat-icon-button (click)="filter(inputValue.value)">
      <mat-icon aria-label="Search icon">search</mat-icon>
    </button>

