<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Regisztráció</legend>
        <div class="form-group">
            <label for="email">Email cím</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f_v1.email.errors }" />
            <div *ngIf="submitted && f_v1.email.errors" class="invalid-feedback">
                <div *ngIf="f_v1.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Felhasználónév</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f_v1.username.errors }" />
            <div *ngIf="submitted && f_v1.username.errors" class="invalid-feedback">
                <div *ngIf="f_v1.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Jelszó</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f_v1.password.errors }" />
            <div *ngIf="submitted && f_v1.password.errors" class="invalid-feedback">
                <div *ngIf="f_v1.password.errors.required">Password is required</div>
                <div *ngIf="f_v1.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div>
    </fieldset>
</form>