<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content *ngIf="action == 'Add';">
    <mat-form-field>
        <input placeholder="{{action}} Username" matInput [(ngModel)]="local_data.username">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.email">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="{{action}} Password" matInput [(ngModel)]="local_data.password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Szerepkör</mat-label>
        <mat-select [(ngModel)]="local_data.status">
            <mat-option *ngFor="let role of roles" [value]="role.name">
                {{role.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content *ngIf="action == 'Update';">
    <mat-form-field>
        <input placeholder="{{action}} Username" matInput [(ngModel)]="local_data.username">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.email">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="{{action}} Password" matInput [(ngModel)]="local_data.password">
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="local_data.status">
            <mat-option *ngFor="let role of roles" [value]="role.name">
                {{role.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-content *ngIf="action == 'Delete';">
    Sure to delete <b>{{local_data.username}}</b>?
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>