<div *ngIf="hasValue">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Terméknév</mat-label>
    <input type="text"
          placeholder="Pick one"
          aria-label="Termék"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedItemChanged($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option ?? null}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="form-group">
      <label for="price">Ár</label>
      <input type="text" class="form-control" [(ngModel)]="selectedProduct.price"/>
  </div>
  <div class="form-group">
    <label for="imagePath">Kép neve</label>
    <input type="input" class="form-control" [(ngModel)]="selectedProduct.imagePath"/>
</div>
<mat-form-field appearance="fill">
  <mat-label for="description">Termék leírás</mat-label>
  <textarea matInput [(ngModel)]="selectedProduct.description"></textarea>
</mat-form-field>
  <div class="form-group">
      <button class="btn btn-primary" (click)="saveProduct()">
          Mentés
      </button>
  </div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>
</div>