  <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
  <button class="add" mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Új felhasználó felvétele</button>
  <table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> id. </th>
          <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
      </ng-container>

      <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
          <td mat-cell *matCellDef="let element"> {{element?.password}} </td>
      </ng-container>

      <ng-container matColumnDef="registeredat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Regisztráció ideje </th>
          <td mat-cell *matCellDef="let element"> {{element?.registeredat}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Szerepkör </th>
        <td mat-cell *matCellDef="let element"> {{element?.role?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th *matHeaderCellDef>Actions </th>
          <td *matCellDef="let element">
              <button (click)="openDialog('Update',element)" mat-icon-button matTooltip="Click to Edit"
                  class="iconbutton" color="primary">
                  <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button (click)="openDialog('Delete',element)" mat-icon-button matTooltip="Click to Delete"
                  class="iconbutton" color="warn">
                  <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
