<mat-toolbar class="bg-primary" style="width:80%; margin: auto;">
  <h2><a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Webshop</a></h2>
  <span class="filler"></span>
  <a *ngIf="!isLogged" class="LoginButton" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
  <button *ngIf="isLogged" mat-button [matMenuTriggerFor]="menu">
    {{currentUser.username}}
    <mat-icon aria-label="account circle icon">account_circle</mat-icon>
  </button>      
    <mat-menu #menu="matMenu">
      <button mat-menu-item matTooltip="Not implemented yet"><a>Settings</a></button>
      <button mat-menu-item><a routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a></button>
      <button mat-menu-item><a routerLink="/statistics" routerLinkActive="active" class="nav-item nav-link">Statistics</a></button>
      <button mat-menu-item><a routerLink="/" routerLinkActive="active" class="nav-item nav-link" (click)="logout()">Logout</a></button>
    </mat-menu>
    <button *ngIf="isLogged" mat-button>
      <mat-icon aria-label="shopping cart icon">shopping_cart</mat-icon>
    </button>
</mat-toolbar>