  <div class="main-container">
    <div class="form-group">
      <label for="name">Megnevezés</label>
      <input type="text" class="form-control" [(ngModel)]="selectedProduct.name"/>
    </div>
    <div class="form-group">
        <label for="price">Ár</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProduct.price"/>
    </div>
    <div class="form-group">
      <label for="imagePath">Kép neve</label>
      <input type="input" class="form-control" [(ngModel)]="selectedProduct.imagePath"/>
  </div>
  <mat-form-field appearance="fill">
    <mat-label for="description">Termék leírás</mat-label>
    <textarea matInput [(ngModel)]="selectedProduct.description"></textarea>
  </mat-form-field>
    <div class="form-group">
        <button class="btn btn-primary" (click)="createProduct()">
            Termék létrehozása
        </button>
    </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">{{success}}</div>
</div>