<!-- <app-searchfield (filterData)="FilterProducts($event)" [data]="prod"></app-searchfield>
<button color="primary" aria-label="Example icon button with a delete icon" (click)="TurnFilterOff()">
  <span>Szűrés levétele</span>
  <mat-icon>delete</mat-icon>
</button> -->
<div *ngFor="let x of showedProd">
    <div class="card mx-auto col-md-3 col-4 mt-5"> <img class='mx-auto img-thumbnail' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
        <div class="card-body text-center mx-auto">
            <div class='cvp'>
                <h5 class="card-title font-weight-bold">{{x.name}}</h5>
                <p class="card-text">{{x.price}}Ft</p> <a [routerLink]="['/product/', x.id]" class="btn details px-auto">Részletek</a>
                <br />
                <a (click)="addToCart(x)" class="btn cart px-auto">Kosárba</a>
            </div>
        </div>
    </div>
</div>