<div class="container mainpage-container" style="display: block; height: 100%; margin: auto;">
    <div class="row">
        <div class="col-12">
            <!-- <img src="assets/images/hirdetes.png" alt="product image" width="100%"> -->
        </div>
    </div>
    <div class="fluid-container">
        <app-item></app-item>
    </div>
</div>